body {
    margin: 0;
}

#mainContainer {
    width: 100%;
    height: 100vh;

}

#headerContainer {
    width: 100%;
    height: 20%;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;

}

.headerItem {
    width: 90%;
    height: 90%;
    display: grid;
    align-items: center;
    justify-items: center;

}

#logo {
    width: 100px;
    height: 100px;
    background-color: violet;
    border-radius: 50px;

}

.subContainer {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


#sideNavContainer {
    width: 100%;
    height: 100%;
    background-color: slategray;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

}

.menuItem {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 200%;
    cursor: pointer;


}

#contentContainer {
    width: 100%;
    height: 100%;
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.productContainer {
    width: 200px;
    height: 300px;
    background-color: thistle;
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr;
}

#namingItem {
    width: 100%;
    height: 20%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.headerItem {
    width: 90%;
    height: 90%;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;

}

#imgContainer {
    width: 100%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-items: center;

}

.product {
    width: 100%;
    height: 100%;

    margin: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
}

#lowerContainer {
    width: 100%;
    height: 20%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.shop {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}